@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-inter);
}

:root {
    --font-inter: "Inter", sans-serif;
    --font-playfair: "Playfair Display", serif;
}

.font-playfair {
    font-family: var(--font-playfair);
}